<h2>{{localize "ryuutama.character.bio"}}</h2>
<label for="hometown">{{localize 'ryuutama.character.bioHometown'}}</label>
<input name="hometown" type="text" value="{{system.bio.hometown}}"
    placeholder="{{localize 'ryuutama.character.bioHometown'}}" />

<label for="gender">{{localize 'ryuutama.character.bioGender'}}</label>
<input name="gender" type="text" value="{{system.bio.gender}}"
    placeholder="{{localize 'ryuutama.character.bioGender'}}" />

<label for="age">{{localize 'ryuutama.character.bioAge'}}</label>
<input name="age" type="number" value="{{system.bio.age}}" placeholder="{{localize 'ryuutama.character.bioAge'}}" />

<h3>{{localize "ryuutama.character.bioNotes"}}</h3>
{{editor
system.bio.notes
target="system.bio.notes"
button=false
editable=@root.editable
engine="prosemirror"
collaborate=false
}}

<h3>{{localize "ryuutama.character.bioReason"}}</h3>
{{editor
system.bio.reason
target="system.bio.reason"
button=false
editable=@root.editable
engine="prosemirror"
collaborate=false
}}

<h3>{{localize "ryuutama.character.bioAppearance"}}</h3>
{{editor
system.bio.appearance
target="system.bio.appearance"
button=false
editable=@root.editable
engine="prosemirror"
collaborate=false
}}