<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />
    <input
      name="name"
      type="text"
      value="{{actor.name}}"
      placeholder="{{localize 'Name'}}"
    />
    <p>{{system.infos.level}}</p>
    <p>{{system.infos.xp}}</p>
    <p>{{system.infos.class}}</p>
    <p>{{system.infos.type}}</p>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">{{localize "ryuutama.character.stats"}}</a>
    <a class="item" data-tab="items">{{localize "ryuutama.character.items"}}</a>
    <a class="item" data-tab="magic">{{localize "ryuutama.character.magic"}}</a>
    <a class="item" data-tab="bio">{{localize "ryuutama.character.bio"}}</a>
    <a class="item" data-tab="edit">{{localize "ryuutama.character.edit"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab stats" data-group="primary" data-tab="stats">
      <table>
        <tr>
          <th>{{localize "ryuutama.character.stats"}}</th>
        </tr>
        <tr>
          <td>{{localize "ryuutama.stats.str"}}
            {{localize (concat "ryuutama.dice.d" system.stats.str.die)}}
          </td>
          <td>{{localize "ryuutama.stats.dex"}}
            {{localize (concat "ryuutama.dice.d" system.stats.dex.die)}}
          </td>
          <td>{{localize "ryuutama.stats.int"}}
            {{localize (concat "ryuutama.dice.d" system.stats.int.die)}}
          </td>
          <td>{{localize "ryuutama.stats.spi"}}
            {{localize (concat "ryuutama.dice.d" system.stats.spi.die)}}
          </td>
        </tr>
        <tr>
          <th>{{localize "ryuutama.character.hp"}}</th>
          <td>
            <input
              name="system.hp.current"
              type="number"
              value="{{system.hp.current}}"
            />/{{maxHp}}</td>
          <th>{{localize "ryuutama.character.mp"}}</th>
          <td><input
              name="system.mp.current"
              type="number"
              value="{{system.mp.current}}"
            />/{{maxMp}}</td>
        </tr>
        <tr>
          <th>{{localize "ryuutama.character.condition"}}</th>
          <td>{{system.condition}}</td>
          <td>
            <a class="condition-roll"><i class="fas fa-dice"></i></a>
          </td>
        </tr>
        <tr>
          <th>{{localize "ryuutama.character.fumble"}}</th>
          <td>{{system.fumble}}</td>
        </tr>
        <tr>
          <th>{{localize "ryuutama.character.init"}}</th>
          <td>10</td>

        </tr>
      </table>

      <section>{{localize "ryuutama.character.skills"}}</section>
      <ol>
        {{#each system.skills as |skill|}}
          <li>test</li>
        {{/each}}
      </ol>
      <section>{{localize "ryuutama.character.statusEffects"}}</section>
      <table>
        <tr>
          <th>{{localize "ryuutama.statuses.body"}}</th>
          <td>
            <div style="display: flex">
              <div>{{localize "ryuutama.statuses.injury"}}</div>
              <p>{{system.statuses.injury}}</p>
            </div>
          </td>
          <td><div style="display: flex">
              <div>{{localize "ryuutama.statuses.poison"}}</div>
              <p>{{system.statuses.poison}}</p>
            </div></td>
          <td><div style="display: flex">
              <div>{{localize "ryuutama.statuses.sickness"}}</div>
              <p>{{system.statuses.sickness}}</p>
            </div></td>
        </tr>
        <tr>
          <th>{{localize "ryuutama.statuses.mind"}}</th>
          <td><div style="display: flex">
              <div>{{localize "ryuutama.statuses.exhaustion"}}</div>
              <p>{{system.statuses.exhaustion}}</p>
            </div></td>
          <td><div style="display: flex">
              <div>{{localize "ryuutama.statuses.muddled"}}</div>
              <p>{{system.statuses.muddled}}</p>
            </div></td>
          <td><div style="display: flex">
              <div>{{localize "ryuutama.statuses.shock"}}</div>
              <p>{{system.statuses.shock}}</p>
            </div></td>
        </tr>
      </table>
    </div>

    <div class="tab items" data-group="primary" data-tab="items">
      {{localize "ryuutama.character.items"}}
    </div>

    <div class="tab magic" data-group="primary" data-tab="magic">
      {{localize "ryuutama.character.magic"}}
      {{#each spells as |spell|}}
        <div class="spell">
          <img
            src="{{spell.img}}"
            data-edit="img"
            title="{{spell.name}}"
            height="100"
            width="100"
          />
          <div class="spell-name">{{spell.name}}</div>
        </div>
      {{/each}}
    </div>

    <div class="tab bio" data-group="primary" data-tab="bio">
      {{localize "ryuutama.character.bio"}}
    </div>

    <div class="tab edit" data-group="primary" data-tab="edit">
      {{> "ryuutama.actor-edit" sections=edit}}
    </div>
  </section>
</form>