<form class="{{cssClass}} character-sheet" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />
    <input
      name="name"
      type="text"
      value="{{actor.name}}"
      placeholder="{{localize 'Name'}}"
    />
    <p>XP: {{system.xp}}</p>
    <p>Level: {{system.level}}</p>
    <div class="character-types flewrow">
      <h4>Types</h4>
      {{#each characterTypes as |characterType|}}
        <div class="flexrow item" data-item-id="{{characterType.id}}">
          <p>{{characterType.name}}</p>
          <a
          class="item-control item-delete"
          data-action="itemDelete"
          data-tooltip="ryuutama.itemDelete"
        >
          <i class="fas fa-trash"></i>
        </a>
        </div> 
      {{/each}}
    </div>
    <p>{{system.classes}}</p>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">{{localize "ryuutama.character.stats"}}</a>
    <a class="item" data-tab="items">{{localize "ryuutama.character.items"}}</a>
    <a class="item" data-tab="magic">{{localize "ryuutama.character.magic"}}</a>
    <a class="item" data-tab="bio">{{localize "ryuutama.character.bio"}}</a>
    <a class="item" data-tab="edit">{{localize "ryuutama.character.edit"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab stats" data-group="primary" data-tab="stats">
      {{> "ryuutama.actor-stats"}}
    </div>

    <div class="tab items" data-group="primary" data-tab="items">
      {{> "ryuutama.actor-items"}}
    </div>

    <div class="tab magic" data-group="primary" data-tab="magic">
      {{> "ryuutama.actor-magic"}}
    </div>

    <div class="tab bio" data-group="primary" data-tab="bio">
      {{> "ryuutama.actor-bio"}}
    </div>

    <div class="tab edit" data-group="primary" data-tab="edit">
      {{> "ryuutama.actor-edit"}}
    </div>
  </section>
</form>