<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />
    <input
      name="name"
      type="text"
      value="{{actor.name}}"
      placeholder="{{localize 'Name'}}"
    />
    <p>{{system.infos.level}}</p>
    <p>{{system.infos.xp}}</p>
    <p>{{system.infos.class}}</p>
    <p>{{system.infos.type}}</p>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">{{localize "ryuutama.character.stats"}}</a>
    <a class="item" data-tab="items">{{localize "ryuutama.character.items"}}</a>
    <a class="item" data-tab="magic">{{localize "ryuutama.character.magic"}}</a>
    <a class="item" data-tab="bio">{{localize "ryuutama.character.bio"}}</a>
    <a class="item" data-tab="edit">{{localize "ryuutama.character.edit"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab stats" data-group="primary" data-tab="stats">
      {{> "ryuutama.actor-stats"}}
    </div>

    <div class="tab items" data-group="primary" data-tab="items">
      {{> "ryuutama.actor-items"}}
    </div>

    <div class="tab magic" data-group="primary" data-tab="magic">
      {{> "ryuutama.actor-magic"}}
    </div>

    <div class="tab bio" data-group="primary" data-tab="bio">
      {{> "ryuutama.actor-bio"}}
    </div>

    <div class="tab edit" data-group="primary" data-tab="edit">
      {{> "ryuutama.actor-edit"}}
    </div>
  </section>
</form>