<div class="chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}"
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{{system.description}}}
        {{{system.skillEffect}}}
    </div>

    <div class="card-buttons">
        {{#isEqual setup.rollType "oneStat"}}
            <p>[{{system.statUsed.statA}} + {{system.statUsed.statA}}]</p>
            <button data-action="roll">{{ localize "ryuutama.roll" }}</button>
        {{/isEqual}}
        {{#isEqual setup.rollType "twoStat"}}
            <p>[{{system.statUsed.statA}} + {{system.statUsed.statB}}]</p>
            <button data-action="roll">{{ localize "ryuutama.roll" }}</button>
        {{/isEqual}}
        {{#isEqual setup.rollType "alternative"}}
            <p>alternate roll</p>
        {{/isEqual}}

        {{#if hasDamage}}
        <button data-action="damage">
            {{#if isHealing}}{{ localize "DND5E.Healing" }}
            {{else}}{{localize "DND5E.Damage" }}{{/if}}
        </button>
        {{/if}}

        {{#if isVersatile}}
        <button data-action="versatile">{{ localize "DND5E.Versatile" }}</button>
        {{/if}}

        {{#if hasSave}}
        <button data-action="save" data-ability="{{data.save.ability}}">
            {{ localize "DND5E.SavingThrow" }} {{labels.save}}
        </button>
        {{/if}}

        {{#if data.formula}}
        <button data-action="formula">{{ localize "DND5E.OtherFormula"}}</button>
        {{/if}}

        {{#if hasAreaTarget}}
        <button data-action="placeTemplate">{{ localize "DND5E.PlaceTemplate" }}</button>
        {{/if}}

        {{#if isTool}}
        <button data-action="toolCheck" data-ability="{{data.ability.value}}">{{ localize "DND5E.Use" }} {{item.name}}</button>
        {{/if}}

        {{#if hasAbilityCheck}}
        <button data-action="abilityCheck" data-ability="{{data.ability}}">{{labels.abilityCheck}}</button>
        {{/if}}
    </div>

    <footer class="card-footer">
        {{#each data.properties}}
        <span>{{this}}</span>
        {{/each}}
    </footer>
</div>