<div class="chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}"
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{{system.description}}}
    </div>

    <div class="card-buttons">
        <button data-action="cast">{{ localize "ryuutama.cast" }}</button>
    </div>
</div>