<label for="system.armor.equip">{{localize 'ryuutama.item.armor.equip'}}</label>
<input name="system.armor.equip" type="text" value="{{system.armor.equip}}"
    placeholder="{{localize 'ryuutama.item.armor.equip'}}" />

<label for="system.armor.defense">{{localize 'ryuutama.item.armor.defense'}}</label>
<input name="system.armor.defense" type="number" value="{{system.armor.defense}}"
    placeholder="{{localize 'ryuutama.item.armor.defense'}}" />

<label for="system.armor.penalty">{{localize 'ryuutama.item.armor.penalty'}}</label>
<input name="system.armor.penalty" type="number" value="{{system.armor.penalty}}"
    placeholder="{{localize 'ryuutama.item.armor.penalty'}}" />

<label for="system.shield.dodge">{{localize 'ryuutama.item.shield.dodge'}}</label>
<input name="system.shield.dodge" type="number" value="{{system.shield.dodge}}"
    placeholder="{{localize 'ryuutama.item.shield.dodge'}}" />