<label for="system.weapon.equip">{{localize 'ryuutama.item.weapon.equip'}}</label>
<input name="system.weapon.equip" type="text" value="{{system.weapon.equip}}"
    placeholder="{{localize 'ryuutama.item.weapon.equip'}}" />

<label for="system.weapon.accuracy">{{localize 'ryuutama.item.weapon.accuracy'}}</label>
<input name="system.weapon.accuracy" type="text" value="{{system.weapon.accuracy}}"
    placeholder="{{localize 'ryuutama.item.weapon.accuracy'}}" />

<label for="system.weapon.damage">{{localize 'ryuutama.item.weapon.damage'}}</label>
<input name="system.weapon.damage" type="text" value="{{system.weapon.damage}}"
    placeholder="{{localize 'ryuutama.item.weapon.damage'}}" />

{{!-- {{> "ryuutama.active-effects" }} --}}