<label for="system.other.type">{{localize 'ryuutama.item.other.type'}}</label>
<input name="system.other.type" type="text" value="{{system.other.type}}"
    placeholder="{{localize 'ryuutama.item.other.type'}}" />

<label for="system.other.values.explanation">{{localize 'ryuutama.item.other.values'}}</label>
<input name="system.other.values.explanation" type="text" value="{{system.other.values.explanation}}"
    placeholder="{{localize 'ryuutama.item.other.values'}}" />