<label for="system.gear.type">{{localize 'ryuutama.item.gear.type'}}</label>
<input name="system.gear.type" type="text" value="{{system.gear.type}}"
    placeholder="{{localize 'ryuutama.item.gear.type'}}" />

<label for="system.gear.bonus">{{localize 'ryuutama.item.gear.bonus'}}</label>
<input name="system.gear.bonus" type="text" value="{{system.gear.bonus}}"
    placeholder="{{localize 'ryuutama.item.gear.bonus'}}" />
