<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <input
      name="name"
      type="text"
      value="{{item.name}}"
      placeholder="{{localize 'Name'}}"
    />
  </header>
  <div class="sheet-content">
    <h3>{{localize "ryuutama.item.description"}}</h3>
    {{editor
      system.description
      target="system.description"
      button=true
      owner=owner
      editable=editable
    }}
    <h3>{{localize "ryuutama.abilities"}}<a class="ability-add">
        <i class="fas fa-plus"></i>
      </a></h3>

    <ol class="item-list">
      {{#each system.abilities as |ability idx|}}
        <li class="item flexrow" data-idx="{{idx}}">
          <div class="item-name flexrow">
            <input
              class="ability"
              data-field="name"
              type="text"
              value="{{ability.name}}"
            />
            <input
              class="ability"
              data-field="effect"
              type="text"
              value="{{ability.effect}}"
            />
          </div>
          <div class="item-controls">
            <a
              class="item-control"
              title="{{localize 'ryuutama.item.effects'}}"
            >
              <i class="fas fa-trash ability-delete"></i>
            </a>
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
</form>