<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" />
  </header>

  <label for="system.price">{{localize 'ryuutama.item.price'}}</label>
  <input name="system.price" type="number" value="{{system.price}}" placeholder="{{localize 'ryuutama.item.price'}}" />

  <label for="system.size">{{localize 'ryuutama.item.size'}}</label>
  <input name="system.size" type="number" value="{{system.size}}" placeholder="{{localize 'ryuutama.item.size'}}" />

  <select name="system.itemType">
    {{#select system.itemType}}
    {{#each config.itemTypes as |value id|}}
    <option value="{{id}}">{{localize value}}</option>
    {{/each}}
    {{/select}}
  </select>
  {{> (concat "ryuutama.item-" system.itemType)}}

  <h3>{{localize "ryuutama.item.description"}}</h3>
  {{editor
  system.description
  target="system.description"
  button=false
  editable=@root.editable
  engine="prosemirror"
  collaborate=false
  }}
</form>