<form class="{{cssClass}} skill" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <input
      name="name"
      type="text"
      value="{{item.name}}"
      placeholder="{{localize 'Name'}}"
    />
  </header>
  <div class="sheet-content">
    <h3>{{localize "ryuutama.item.description"}}</h3>
    {{editor
      system.description
      target="system.description"
      button=true
      owner=owner
      editable=editable
    }}
    <h3>{{localize "ryuutama.skill.skillEffect"}}</h3>
    {{editor
      system.skillEffect
      target="system.skillEffect"
      button=true
      owner=owner
      editable=editable
    }}
    <h3>{{localize "ryuutama.skill.usableCircumstances"}}</h3>
    <input
      name="system.usableCircumstances"
      type="text"
      value="{{system.usableCircumstances}}"
    />
    <h3>{{localize "ryuutama.rolls"}}<a class="roll-add">
        <i class="fas fa-plus"></i>
      </a></h3>

    <ol class="item-list">
      {{#each system.rolls as |roll idx|}}
        <li class="item flexrow" data-idx="{{idx}}">
          <div class="item-name flexrow">
            <input
              class="roll"
              data-field="description"
              type="text"
              value="{{roll.description}}"
            />
            <select class="roll" data-field="statA">
              {{#select roll.statA}}
                {{#each ../config.stats as |stat id|}}
                  <option value="{{id}}">{{localize
                      (concat "ryuutama.stats." id)
                    }}</option>
                {{/each}}
              {{/select}}
            </select>
            <select class="roll" data-field="statB">
              {{#select roll.statB}}
                {{#each ../config.stats as |stat id|}}
                  <option value="{{id}}">{{localize
                      (concat "ryuutama.stats." id)
                    }}</option>
                {{/each}}
              {{/select}}
            </select>
          </div>
          <div class="item-controls">
            <a
              class="item-control"
              title="{{localize 'ryuutama.item.effects'}}"
            >
              <i class="fas fa-trash roll-delete"></i>
            </a>
          </div>
        </li>
      {{/each}}
    </ol>
    <h3>{{localize "ryuutama.skill.targetNumber"}}</h3>
    <input
      name="system.targetNumber"
      type="text"
      value="{{system.targetNumber}}"
    />
  </div>
</form>