<form class="{{cssClass}} skill" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <input
      name="name"
      type="text"
      value="{{item.name}}"
      placeholder="{{localize 'Name'}}"
    />
  </header>
  <div class="sheet-content">
    <h3>{{localize "ryuutama.item.description"}}</h3>
    {{editor
      system.description
      target="system.description"
      button=true
      owner=owner
      editable=editable
    }}
    <h3>{{localize "ryuutama.skill.skillEffect"}}</h3>
    {{editor
      system.skillEffect
      target="system.skillEffect"
      button=true
      owner=owner
      editable=editable
    }}
    <h3>{{localize "ryuutama.skill.usableCircumstances"}}</h3>
    <h3>{{localize "ryuutama.rolls"}}<a class="roll-add">
        <i class="fas fa-plus"></i>
      </a></h3>

    <ol class="item-list">
      {{#each system.rolls as |roll idx|}}
        <li class="item flexrow">
          <div class="item-name flexrow">
            <h4>{{roll.description}}</h4>
            <select name="../system.rolls.{{idx}}.statA">
              {{#select ../system.rolls.[idx].statA}}
                {{#each ../config.stats as |stat id|}}
                  <option value="{{id}}">{{localize
                      (concat "ryuutama.stats." id)
                    }}</option>
                {{/each}}
              {{/select}}
            </select>
            <select name="../system.rolls.{{idx}}.statB">
              {{#select ../system.rolls.[idx].statB}}
                {{#each ../config.stats as |stat id|}}
                  <option value="{{id}}">{{localize
                      (concat "ryuutama.stats." id)
                    }}</option>
                {{/each}}
              {{/select}}
            </select>
          </div>
          <div class="item-controls">
            <a
              class="item-control flexrow"
              data-action="delete"
              title="{{localize 'ryuutama.item.effects'}}"
            >
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </li>
      {{/each}}
    </ol>
    <h3>{{localize "ryuutama.skill.statUsed"}}</h3>
    <select name="system.statUsed.statA">
      {{#select system.statUsed.statA}}
        {{#each config.stats as |stat id|}}
          <option value="{{id}}">{{localize
              (concat "ryuutama.stats." id)
            }}</option>
        {{/each}}
      {{/select}}
    </select>
    <select name="system.statUsed.statB">
      {{#select system.statUsed.statB}}
        {{#each config.stats as |stat id|}}
          <option value="{{id}}">{{localize
              (concat "ryuutama.stats." id)
            }}</option>
        {{/each}}
      {{/select}}
    </select>
    <h3>{{localize "ryuutama.skill.targetNumber"}}</h3>
  </div>
</form>