<div class="panelBorder sheet-card effects-list">
  <h2>{{localize "ryuutama.item.effects"}}
    <a class="effect-control" data-action="create">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
  <ol>
    {{#each effects as |effect|}}
      <li class="item effect" data-effect-id="{{effect.id}}">
        <div class="item-name effect-name">
          <h4>{{effect.name}}</h4>
        </div>
        <div class="effect-controls">
          <a
            class="effect-control"
            data-action="edit"
            title="{{localize 'ryuutama.item.effects'}}"
          >
            <i class="fas fa-edit"></i>
          </a>
          <a
            class="effect-control"
            data-action="delete"
            title="{{localize 'ryuutama.item.effects'}}"
          >
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
    {{/each}}
  </ol>
</div>